a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.btn {
  text-transform: uppercase;
  font-family: var(--barlow);
  font-size: 1.8rem;
  color: black;
  font-weight: 400;
}
